/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Common */
ul {
    list-style-type: none;
}

.app-wrapper {
    height: 100vh;
    width: 100%;
    position: relative;

    background-color: #009688;
}

.app {
    width: 90%;
    height: 90%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

/* COL LEFT */
.col-left {
    height: 100%;
    width: 30%;
    min-width: 300px;
    border-right: 1px solid lightgray;
}
.contact {
    height: 100px;

    background-color: #eaeaea;
}
.notifications {
    height: 120px;

    background-color: #8edafb;
}
.search-bar {
    height: 50px;

    background-color: seagreen;
}
.contacts-list {
    height: calc(100% - 270px);
    overflow: hidden;
    overflow-y: auto;

    background-color: #fff;
}



.col-right {
    height: 100%;
    width: 70%;
    min-width: 600px;

    background-color: yellow;
}
.background-main{
    background-image: url("../img/mine.jpg");
    height: calc(100% - 200px);
}
.input-area {
    height: 100px;
    background-color: #f3eeea;
}